@-webkit-viewport   { width: device-width; }
@-moz-viewport      { width: device-width; }
@-ms-viewport       { width: device-width; }
@-o-viewport        { width: device-width; }
@viewport           { width: device-width; }

html, body{
	height: 100%;
	overflow: hidden;
	background: #E8E8E8;
	min-width: 1024px;
/*	width: 1026px;
  	margin: auto auto;
  	border: 1px solid #E8E8E8;*/
}
header{
	height: 60px;
  	background: #FF5803;
  	color: #FFFFFF;
  	font-size: 20px;
  	text-align: center;
  	line-height: 3;
  	position: fixed;
	width: 100%;
	min-width: 1024px;
}
article{
  	width: 100%;
	height: 100%;
	position: fixed;
	top: 60px;
	min-width: 1024px;
}
/* function */
.f-cb:after,.f-cbli li:after{display:block;clear:both;visibility:hidden;height:0;overflow:hidden;content:".";} .f-cb,.f-cbli li{zoom:1;} .f-ib{display:inline-block;*display:inline;*zoom:1;} .f-dn{display:none;} .f-bn{border:none!important;} .f-bgn{background-image:none!important;} .f-db{display:block;} .f-fl{float:left;} .f-fr{float:right;} .f-pr{position:relative;} .f-ps{position:static!important;} .f-prz{position:relative;zoom:1;} .f-oh{overflow:hidden;} .f-ff0{font-family:arial,\5b8b\4f53;} .f-ff1{font-family:"Microsoft YaHei",\5fae\8f6f\96c5\9ed1,arial,\5b8b\4f53;} .f-fs12{font-size:12px;} .f-fs14{font-size:14px;} .f-fs16{font-size:16px;} .f-fs18{font-size:18px;} .f-fs20{font-size:20px;} .f-fs24{font-size:24px;} .f-fwn{font-weight:normal;} .f-fwb{font-weight:bold;} .f-tal{text-align:left;} .f-tac{text-align:center;} .f-tar{text-align:right;} .f-taj{text-align:justify;text-justify:inter-ideograph;} .f-vam,.f-vama *{vertical-align:middle;} .f-wsn{word-wrap:normal;white-space:nowrap;} .f-pre{overflow:hidden;text-align:left;white-space:pre-wrap;word-wrap:break-word;word-break:break-all;} .f-wwb{white-space:normal;word-wrap:break-word;word-break:break-all;} .f-ti{overflow:hidden;text-indent:-30000px;} .f-ti2{text-indent:2em;} .f-lhn{line-height:normal;} .f-tdu,.f-tdu:hover{text-decoration:underline;} .f-tdn,.f-tdn:hover{text-decoration:none;} .f-toe{overflow:hidden;word-wrap:normal;white-space:nowrap;text-overflow:ellipsis;} .f-csp{cursor:pointer;} .f-csd{cursor:default;} .f-csh{cursor:help;} .f-csm{cursor:move;} .f-usn{-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;-o-user-select:none;user-select:none;}
.m0{margin:0!important}.mt1{margin-top:1px}.mt2{margin-top:2px}.mt5{margin-top:5px}.mt10{margin-top:10px}.mt15{margin-top:15px}.mt20{margin-top:20px}.mt25{margin-top:25px}.mt40{margin-top:40px}.mr0{margin-right:0!important}.mr2{margin-right:2px}.mr5{margin-right:5px!important}.mr8{margin-right:8px}.mr10{margin-right:10px}.mr20{margin-right:20px}.mr60{margin-right:60px}.mb1{margin-bottom:1px}.mb2{margin-bottom:2px}.mb5{margin-bottom:5px}.mb10{margin-bottom:10px}.mb16{margin-bottom:16px}.mb20{margin-bottom:20px}.mb40{margin-bottom:40px}.ml1{margin-left:1px}.ml2{margin-left:2px}.ml5{margin-left:5px}.ml10{margin-left:10px}.ml15{margin-left:15px}.ml20{margin-left:20px}.ml30{margin-left:30px}.ml40{margin-left:40px}.ml50{margin-left:50px}.mt7{margin-top:7px}.p1{padding:1px}.p2{padding:2px}.p5{padding:5px}.p10{padding:10px}.p20{padding:20px}.p0{padding:0!important}.pl25{padding-left:25px}.pl30{padding-left:30px}.pt0{padding-top:0!important}.pt1{padding-top:1px}.pt2{padding-top:2px}.pt5{padding-top:5px}.pt10{padding-top:10px}.pt20{padding-top:20px}.pr1{padding-right:1px}.pb2{padding-bottom:2px}.pr5{padding-right:5px}.pr10{padding-right:10px}.pr20{padding-right:20px}.pr80{padding-right:80px}.pb1{padding-bottom:1px}.pr2{padding-right:2px}.pb5{padding-bottom:5px}.pb10{padding-bottom:10px}.pb20{padding-bottom:20px}.pl1{padding-left:1px}.pl2{padding-left:2px}.pl5{padding-left:5px}.pl10{padding-left:10px}.pl20{padding-left:20px}

.content{
	background: #E8E8E8;
}
.fl{
	float: left;
	padding-left: 10px;
}
.fr{
	float: right;
  	padding-right: 10px;
}
.close-win{
	cursor: pointer;
}
.btn-operate {
  	text-align: center;
  	margin: 40px 0px 0px;
}
.highlight-color{
	color: #FF5803;
}
footer{
	position: fixed;
	width: 100%;
	bottom: 0px;
	min-width: 1024px;
}
.dialog-sm-header {
  	background-color: #FF5803;
  	height: 54px;
  	border-top-left-radius: 4px;
  	border-top-right-radius: 4px;
}
.modal-dialog .img-close {
  	position: absolute;
  	right: 10px;
  	top: 10px;
}
.btn:hover{
	background: #F68D70;
	border-color: #F68D70;
	opacity: 0.5;
	color: #fff;
}
.btn:active{
	background: #FF5803;
	opacity: 1;
	color: #fff;
}
.confirm-dialog .modal-dialog {
  	width: 400px;
  	height: auto;
  	margin-top: 10%;
}
.confirm-dialog .modal-content{

}
.confirm-dialog .modal-body {
  	background: #EAE9E6;
  	padding: 15px;
}
.confirm-dialog .btn{
	width: 150px;
	height: 40px;
	background: white;
}
.confirm-dialog .btn-save{
	color: #fff;
  	background-color: #FF5803;
  	border-color: #FF5803;
}
.confirm-dialog .btn:hover{
	background: #F68D70;
	border-color: #F68D70;
	opacity: 0.5;
	color: #fff;
}
.confirm-dialog .btn:active{
	background: #FF5803;
	opacity: 1;
	color: #fff;
}

.switch {
	margin: 0 auto;
	position: relative;
}

/*
* block
*/
.block-shadow {
	background: #FFFFFF;
	box-shadow: 0px -1px 1px 0px rgba(237,237,237,0.50), 0px 1px 0px 0px #CFCFCF;
}
.block-radius {
	border-radius: 3px;
}

/*
* dialog-base
*/
.dialog-normal{
	padding: 0;
	overflow: hidden;
	border:none;
	height: auto;
}
.dialog-normal .modal-title {
	height: 60px;
	line-height: 60px;
	color: #FFFFFF;
	font-size: 20px;
}
.dialog-normal .close {
	position: absolute;
	top: 22px;
	right: 10px;
	font-size: 22px;
	opacity: 1;
	color: #fff;
	font-weight: normal;
	font-family: 'arial';
}
.dialog-normal .modal-content {
	border-radius: 0;
	border:none;
}
.dialog-normal .modal-dialog {
	margin: 30px auto;
}
.modal-dialog-full>.modal-dialog {
	width: 100%;
	height: 100%;
	margin: 0;
}
.modal-dialog-full>.modal-dialog>.modal-content {
	height: 100%;
}
.dialog-normal .modal-header {
	height: 60px;
	background: #FF5803;
	color: #FFFFFF;
	font-size: 20px;
	text-align: center;
	line-height: 3;
	width: 100%;
	padding:0;
	position: relative;
}
.dialog-normal .modal-body {
	padding:10px;
	overflow: hidden;
}
.dialog-normal.bg-gray .modal-content  {
	background-color:#f6f6f6;
}
.dialog-normal .dialog-article {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 60px;
}

.dialog-normal  .modal-footer {
	border:none;
	text-align: center;
}

.modal-alert .modal-body {
	padding:20px 70px;
	text-align: center;
}

.modal-alert strong {
	font-size: 24px;
	color: #1F1F1F;
	line-height: 33px;
}
.modal-alert i {
	font-size: 14px;
	color: #A9A9A9;
	font-style: normal;

}

.dialog-normal .modal-footer .btn-base {
	width: 150px;
}

.dialog-normal .modal-footer .btn-base:last-child {
	margin-left:10px;
}

	/*
    * 表单基础样式
    */
.form-group-base .form-label {
	position: absolute;
	line-height: 48px;
	padding-left: 10px;
	color: #999;
}
.form-group-base .form-control,.form-group-base .form-info {
	width: 100%;
	height: 48px;
	line-height: 48px;
	padding-left: 75px;
}
.form-group-base .form-control-sm {
	height: 40px;
	line-height: 40px;
	padding:0 10px;
}
.form-group-base .form-group-nor {
	position: relative;
	padding-left:100px;
}

.form-group-nor {
	overflow:hidden;
	clear:both;
	width: 100%;
}

.form-group-nor .form-label {
	line-height: 40px;
	color: #999;
	text-align: right;
	float:left;
	margin-right:10px;
}
.form-group-nor .form-group-info {
	display: block;
	float:left;
	height: 40px;
	line-height: 40px;
}
.form-group-nor .form-control {
	width: 100%;
	height: 40px;
	line-height: 40px;
	padding:0 10px;
	background: #fff;
}

.btn-base {
	height: 50px;
	font-size: 20px;
	color:#000;
	border:none;
	background: #FFFFFF;
	box-shadow: 0px 1px 0px 0px #B1B1B1;
	border-radius: 3px;
}
.btn-yellow {
	background: #FF5803;
	border:1px solid #FF5803;
	box-shadow: 0px 1px 0px 0px #C64300;
	border-radius: 3px;
	color:#fff;
}
.btn-base-sm {
	height: 40px;
	font-size:16px;
}
.btn-base-flex1 {
	width: 100%;
	box-sizing: border-box;
}
.btn-base-flex2 {
	width: 49%;
	box-sizing: border-box;
}


/*
* virtual-keyboard-base
*/
.virtual-keyboard-base {
	width: 322px;
}
.virtual-keyboard-base-4 {
	width: 424px;
}
.virtual-keyboard-base ul {
	clear:both;
	padding:0;
}
.virtual-keyboard-base ul li{
	width: 100px;
	height: 48px;
	background: #FFFFFF;
	box-shadow: 0px 1px 0px 0px #CFCFCF;
	border-radius: 3px;
	text-align: center;
	vertical-align: middle;
	line-height: 3;
	list-style: none;
	float: left;
	margin-left: 6px;
	margin-bottom: 6px;
	font-size: 18px;
	color: #040404;
	cursor: pointer;
}
.virtual-keyboard-ok {
	position: absolute;
	top:55px;right:0;
	width: 100px;
	height: 154px;
	line-height: 154px;
	text-align: center;
	color:#fff;
	font-size:18px;
	background: #FF5803;
	box-shadow: 0px 1px 0px 0px #C64300;
	border-radius: 3px;
	cursor: pointer;
}
.virtual-keyboard-base ul li:hover{
	background: #F68D70;
	opacity: 0.5;
	color: #fff;
}
.virtual-keyboard-base ul li:active{
	background: #FF5803;
	opacity: 1;
	color: #fff;
}

.switch label {
	width: 100%;
	height: 100%;
	position: relative;
	display: block;
}

.switch input {
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	opacity: 0;
	z-index: 100;
	position: absolute;
	width: 100%;
	height: 100%;
	cursor: pointer;
}

.switch {
	width: 55px;
	height: 20px;
}

.switch label {
	display: block;
	width: 100%;
	height: 100%;
	background: rgba(34,31,31,0.26);
	border-radius: 40px;
}


.switch label i {
	display: block;
	height: 30px;
	width: 30px;
	border-radius: inherit;
	position: absolute;
	z-index: 2;
	top: -5px;
	background: #F1F1F1;
	box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.12), 0px 2px 2px 0px rgba(0,0,0,0.24);
}

.switch input:checked ~ label {
	background-color: rgba(255, 88, 3,0.5);
}

.switch input:checked ~ label i {
	right: -1%;
	background: #FF5803;
	box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.12), 0px 2px 2px 0px rgba(0,0,0,0.24);
}

.table-list {
	text-align: center;
}
.table-list thead th {
	background: #FFC2A3;
	text-align: center;
}
.text-danger {
	color:#FF5803;
}


/*
* search-box
*/
.search-box {
	text-align: center;
}
.search-box .btn-search {
	width: 100px;
	margin-left:10px;
	display: inline-block;
}
.search-box .form-control-search {
	width: 240px;
	display: inline-block;
}

.default-dialog .modal-dialog{
	width: 600px;
  	height: auto;
  	margin: 50px auto;
}
.default-dialog .modal-body {
  	background: #EAE9E6;
  	padding: 15px;
}
.default-dialog .modal-title {
  	text-align: left;
  	font-size: 16px;
  	color: #FFFFFF;
  	padding: 12px;
}
.default-dialog .btn{
	width: 150px;
	height: 40px;
	background: white;
}
.default-dialog .btn-save{
	color: #fff;
  	background-color: #FF5803;
  	border-color: #FF5803;
}
.default-dialog .btn:hover{
	background: #F68D70;
	border-color: #F68D70;
	opacity: 0.5;
	color: #fff;
}
.default-dialog .btn:active{
	background: #FF5803;
	opacity: 1;
	color: #fff;
}
.virtual-keyboard ul{
	margin: 0;
	padding: 0;
}
.virtual-keyboard ul li{
	width: 100px;
  	height: 48px;
  	background: #FFFFFF;
  	box-shadow: 0px 1px 0px 0px #CFCFCF;
  	border-radius: 3px;
  	text-align: center;
  	padding-top: 10px;
  	list-style: none;
  	float: left;
  	margin-left: 3px;
  	margin-bottom: 5px;
  	font-size: 18px;
  	color: #040404;
  	cursor: pointer;
}
.virtual-keyboard ul li:hover{
	background: #F68D70;
	opacity: 0.5;
	color: #fff;
}
.virtual-keyboard ul li:active{
	background: #FF5803;
	opacity: 1;
	color: #fff;
}

/**
*	paginationjs
**/
.paginationjs {
	position: relative;
	text-align: center;
}

.paginationjs ul {
	padding:0;
	margin:0;
}

.paginationjs ul li {
	width: 40px;
	height: 40px;
	background: #F6F6F6;
	box-shadow: 0px 1px 0px 0px #B1B1B1;
	border-radius: 3px;
	color: #000000;
	font-size: 12px;
	display: inline-table;
	text-align: center;
	padding-top: 12px;
	cursor: pointer;
}
.paginationjs ul li + li {
	margin-left:45px;
}
.paginationjs-nav {
	margin-top:-30px;
}
.paginationjs ul li a {
	display: none;
}
.paginationjs ul li:before {
	content:'<';
	text-align: center;
}
.paginationjs ul li:last-child:before {
	content:'>';
}
.paginationjs .disabled{
	color: #999;
	cursor: auto;
}
/*
右下角弹出提示框
*/
.rightBottomPop{
	background:#fff;
	position:absolute;
	border:1px solid #e0e0e0;
	z-index:99;
}
.rightBottomPop .rightBottomPop-title{
	line-height:32px;
	background:#FF5803;
	border-bottom:1px solid #e0e0e0;
	font-size:14px;padding:0 0 0 10px;
	color: #fff
}
.rightBottomPop .rightBottomPop-title_left{
	float:left;
}
.rightBottomPop .rightBottomPop-title_right{
	float:right;cursor:pointer;
	font-size:16px;
	width: 30px;
	text-align: center;
 }
.rightBottomPop .rightBottomPop-content{
	margin: 50px 10px;
	text-align: center;
	font-size: 14px;
}