@-webkit-viewport   { width: device-width; }
@-moz-viewport      { width: device-width; }
@-ms-viewport       { width: device-width; }
@-o-viewport        { width: device-width; }
@viewport           { width: device-width; }

html, body{
	height: 100%;
	overflow: hidden;
/*	font-family: 微软雅黑;*/
	background: #E8E8E8;
	min-width: 1024px;
/*	width: 1026px;
  	margin: auto auto;
  	border: 1px solid #E8E8E8;*/
}
header{
	height: 60px;
  	background: #FF5803;
  	color: #FFFFFF;
  	font-size: 20px;
  	text-align: center;
  	line-height: 3;
  	position: fixed;
	width: 100%;
	min-width: 1024px;
}
article{
  	width: 100%;
	height: 100%;
	position: fixed;
	top: 60px;
	min-width: 1024px;
}
.content{
	background: #E8E8E8;
}
.fl{
	float: left;
	padding-left: 10px;
}
.fr{
	float: right;
  	padding-right: 10px;
}
.close-win{
	cursor: pointer;
}
.btn-operate {
  	text-align: center;
  	margin: 40px 0px 0px;
}
footer{
	position: fixed;
	width: 100%;
	bottom: 0px;
	min-width: 1024px;
	background: #FFFFFF;
}
.dialog-sm-header {
  	background-color: #FF5803;
  	height: 54px;
  	border-top-left-radius: 4px;
  	border-top-right-radius: 4px;
}
.modal-dialog .img-close {
  	position: absolute;
  	right: 10px;
  	top: 10px;
}
.btn:hover{
	background: #F68D70;
	border-color: #F68D70;
	opacity: 0.5;
	color: #fff;
}
.btn:active{
	background: #FF5803;
	opacity: 1;
	color: #fff;
}
.confirm-dialog .modal-dialog {
  	width: 400px;
  	margin-top: 10%;
}
.confirm-dialog .modal-body {
  	background: rgb(224, 220, 220);
}
.confirm-dialog .btn{
	width: 150px;
	height: 40px;
	background: white;
}
.confirm-dialog .btn-save{
	color: #fff;
  	background-color: #FF5803;
  	border-color: #FF5803;
}
.confirm-dialog .btn:hover{
	background: #F68D70;
	border-color: #F68D70;
	opacity: 0.5;
	color: #fff;
}
.confirm-dialog .btn:active{
	background: #FF5803;
	opacity: 1;
	color: #fff;
}

.switch {
	margin: 0 auto;
	position: relative;
}

/*
* dialog-base
*/
.dialog-normal{
	height: 768px;
	padding: 0;
	overflow: hidden;
	border:none;
	height: auto;
}
.dialog-normal .modal-dialog {
	margin: 30px auto;
}
.dialog-normal .modal-header {
	height: 60px;
	background: #FF5803;
	color: #FFFFFF;
	font-size: 20px;
	text-align: center;
	line-height: 3;
	width: 100%;
	padding:0;
}
.dialog-normal .modal-body {
	padding:10px;
}
.dialog-normal.bg-gray .modal-body  {
	background-color:rgb(224, 220, 220);
}
.dialog-normal .dialog-article {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 60px;
}

/*
* 表单基础样式
*/
.form-group-base .form-label {
	position: absolute;
	line-height: 48px;
	padding-left: 10px;
	color: #999;
}
.form-group-base .form-control,.form-group-base .form-info {
	width: 100%;
	height: 48px;
	line-height: 48px;
	padding-left: 75px;
}

.btn-base {
	height: 38px;
	font-size: 16px;
	border-radius: 4px;
	color:#000;
	border:1px solid #cfcfcf;
}


/*
* virtual-keyboard-base
*/
.virtual-keyboard-base {
	width: 360px;
}
.virtual-keyboard-base ul li{
	width: 100px;
	height: 50px;
	background: #FFFFFF;
	box-shadow: 0px 1px 0px 0px #CFCFCF;
	border-radius: 3px;
	text-align: center;
	vertical-align: middle;
	line-height: 3;
	list-style: none;
	float: left;
	margin-left: 6px;
	margin-bottom: 6px;
	font-size: 18px;
	color: #040404;
	cursor: pointer;
}
.virtual-keyboard-base ul li:hover{
	background: #F68D70;
	opacity: 0.5;
	color: #fff;
}
.virtual-keyboard-base ul li:active{
	background: #FF5803;
	opacity: 1;
	color: #fff;
}

.switch label {
	width: 100%;
	height: 100%;
	position: relative;
	display: block;
}

.switch input {
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	opacity: 0;
	z-index: 100;
	position: absolute;
	width: 100%;
	height: 100%;
	cursor: pointer;
}


/* DEMO 3 */

.switch {
	width: 55px;
	height: 20px;
}

.switch label {
	display: block;
	width: 100%;
	height: 100%;
	background: rgba(34,31,31,0.26);
	border-radius: 40px;
}


.switch label i {
	display: block;
	height: 30px;
	width: 30px;
	border-radius: inherit;
	position: absolute;
	z-index: 2;
	top: -5px;
	background: #F1F1F1;
	box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.12), 0px 2px 2px 0px rgba(0,0,0,0.24);
}

.switch input:checked ~ label {
	background-color: rgba(255, 88, 3,0.5);
}

.switch input:checked ~ label i {
	right: -1%;
	background: #FF5803;
	box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.12), 0px 2px 2px 0px rgba(0,0,0,0.24);
}

.table-list {
	text-align: center;
}
.table-list thead th {
	background: #FFC2A3;
	text-align: center;
}
.text-danger {
	color:#FF5803;
}



