html{
	overflow: auto;
}
.content{
  	width: 100%;
  	margin: auto auto;
  	padding: 8px;
}
.exit-sys{
	position: absolute;
  	right: 10px;
  	cursor: pointer;
}
.menu-top div{
	display: inline-block;
	margin-left: 10px;
	font-size: 18px;
	cursor: pointer;
}
.menu-tab{
	position: absolute;
	width: 100%;
	height: 100%;
}
.menu-tab ul{
	list-style: none;
  	margin: 10px auto;
  	border-radius: 6px;
  	border: 1px solid #F9EFE1;
  	width: 300px;
  	height: 42px;
  	margin-top: 10px;
  	padding: 0;
  	line-height: 2;
  	color: #F9EFE1;
  	cursor: pointer;
}
.menu-tab ul li{
  	display: inline-block;
  	width: 50%;
}
.menu-tab ul li.active{
	background: #FFFFFF;
	color: #FF5803;
}
.rooms-type{
	height: 60px;
  	background: #FFFFFF;
  	padding: 10px 5px;
}
.rooms-type .nav-type-btn{
	float: left;
	width: 2%;
	text-align: center;
	padding-top: 8px;
	cursor: pointer;
}
.rooms-type .nav-type-next{
	float: right;
}
.rooms-type .nav-types{
	white-space: nowrap;
  	overflow: hidden;
  	display: inline-block;
  	padding: 0;
  	margin: 0;
  	height: 35px;
  	width: 96%;
  	float: left;
}
.rooms-type .nav-types li{
	margin: 0 1%;
  	font-weight: bold;
  	position: relative;
  	list-style: none;
  	float: left;
  	width: 8%;
  	height: 100%;
  	text-align: center;
  	padding: 8px 2px;
  	font-size: 14px;
  	color: #111111;
  	cursor: pointer;
}
.rooms-type .nav-types li.active{
	border: 1px solid #FF5803;
	border-radius: 20px;
	color: #FF5803;
}
.content ul{
	list-style: none;
	margin: auto auto;
  	padding: 0;
}
.content ul.tables li {
	float: left;
	margin: 2px;
	width: 12%;
	height: 75px;
	text-align: center;
  	font-size: 24px;
  	font-weight: bold;
  	padding: 16px 0;
	position: relative;
	color: #FF5803;
}
.content ul.standard li {
	background: #FFFFFF;
	box-shadow: 0px -1px 1px 0px rgba(237,237,237,0.50), 0px 1px 0px 0px #CFCFCF;
	border-radius: 3px;
}
.content ul.coffee li{
	border: 1px solid #DBDBDB;
  	border-radius: 3px;
  	color: #A8A8A8;
}
.content ul li.opened{
	background: #FF5803;
	box-shadow: 0px 1px 0px 0px #C64300;
	border-radius: 3px;
	color: #FFFFFF;
}
.content ul li.reserved{
	background: #CBCBCB;
	box-shadow: 0px 1px 0px 0px #898989;
	border-radius: 3px;
	color: #FFFFFF;
}
.content ul li .tb-info{
	font-size: 10px;
  	font-weight: normal;
  	position: absolute;
  	color: #515356;
}
.content ul li.opened .tb-info{
  	color: #FFFFFF;
  	opacity: 0.7;
}
.content ul li.reserved .tb-info{
  	color: #FFFFFF;
}
.content ul li .tb-status{
  	top: 5px;
  	right: 8px;
}
.content ul li .meal-time{
  	left: 8px;
  	bottom: 3px;
}
.content ul li .tb-person{
  	right: 8px;
  	bottom: 3px;
}
.table-nums{
	height: 40px;
  	width: 100%;
  	font-size: 14px;
  	color: #000000;
  	background: #E8E8E8;
  	display: inline-block;
  	padding: 5px 8px;
}
.table-nums div{
	display: inline-block;
  	height: 30px;
  	width: 100px;
  	text-align: center;
  	background: #FFFFFF;
  	padding-top: 5px;
  	border-radius: 4px;
  	margin: 0 2px;
  	cursor: pointer;
}
.table-nums div.active{
	background: #FF5803;
	color: #FFFFFF;
}
.foot-menu{
	height: 50px;
	width: 100%;
  	background: #E8E8E8;
}
.foot-menu>ul{
	list-style: none;
	padding: 0 8px;
  	margin: 0;
  	float: left;
  	display: inline-table;
  	position: relative;
}
.foot-menu .page{
  	float: right;
  	display: inline-table;
  	padding: 0 8px;
}
.page .page-btn{
	width: 40px;
  	height: 40px;
  	background: #F6F6F6;
  	box-shadow: 0px 1px 0px 0px #B1B1B1;
  	border-radius: 3px;
  	color: #000000;
  	font-size: 12px;
  	display: inline-table;
  	text-align: center;
  	padding-top: 12px;
  	cursor: pointer;
}
.page .prev-btn{
	margin-right: 12px;
}
.page .next-btn{
	margin-left: 12px;
}
.page .page-btn:hover, .J-takeout-dialog .take-out-list li:hover, .foot-menu ul li:hover{
	background: #F68D70;
	opacity: 0.5;
	color: #fff;
}
.page .page-btn:active, .J-takeout-dialog .take-out-list li:active, .foot-menu ul li:active{
	background: #FF5803;
	opacity: 1;
	color: #fff;
}
.foot-menu ul li{
	float: left;
  	height: 40px;
  	width: 100px;
  	text-align: center;
  	font-size: 16px;
  	color: #000000;
  	background: #ffffff;
  	padding: 10px;
  	margin: 0 2px;
	box-shadow: 0px 1px 0px 0px #CFCFCF;
	border-radius: 3px;
	cursor: pointer;
}
.m-member.popover{
	bottom: 50px;
  	right: 108px;
  	width: 110px;
  	background: #FFFFFF;
  	left: auto;
  	top: auto;
}
.m-member.popover>ul{
	padding: 0;
	list-style: none;
}
.m-member.popover>ul>li{
	margin: 2px 2px;
  	width: 102px;
  	box-shadow: none;
}
footer{
	height: auto;/** 115px;**/
}
.footer-min {
	height: 25px;
}
footer .amount-div{
	padding: 10px;
  	height: 40px;
  	margin-bottom: 5px;
}
footer .info{
	float: left;
  	text-align: center;
  	width: 100%;
  	font-size: 10px;
  	color: #B5B5B5;
  	padding-top: 5px;
  	background: #FFFFFF;
}
.main-dialog .main-modal-dialog{
	width: 1041px; 
	height: 768px; 
	padding: 0;
	margin: 30px auto auto; 
	overflow: hidden;
}
.main-dialog .modal-content{
	height: 100%;
}
.J-takeout-dialog .take-out-list{
	padding: 0;
}
.J-takeout-dialog .take-out-list li{
	list-style: none;
  	display: inline-block;
  	width: 100px;
  	text-align: center;
  	height: 45px;
  	padding-top: 12px;
  	background: #FFFFFF;
  	border-radius: 4px;
}
.J-takeout-dialog .take-out-list li.active{
	background: #FF5803;
	color: #fff;
}