.hr {
	margin:10px 0;
}
header,footer {
	position: static;
}
.left-div .dish-sel{
	height: 250px;
}
.left-div .preferential-sel{
	height: 220px;
}
.left-div .total-amount{
	margin-bottom: 10px;
}
.left-div .total-amount .tip{
	float: right;
}
.left-div .total-amount .tip hr{
	margin: 2px -10px;
}
.left-div .discount-total-amount{
	font-size: 14px;
	color: #FF5803;
	padding: 0 30px;
	margin-top: 8px;
}
.left-div .discount-hr{
	position: absolute;
	width: 2px;
	height: 15px;
	background: #FF5803;
	margin: 2px 20px;
}
.left-div .operate-btns div{
	width: 63px;
	height: 42px;
	background: #F6F6F6;
	box-shadow: 0px -1px 1px 0px rgba(237,237,237,0.50), 0px 1px 0px 0px #CFCFCF;
	border-radius: 3px;
	text-align: center;
	display: inline-block;
	font-size: 14px;
	color: #040404;
	padding-top: 10px;
	margin-left: 5px;
	cursor: pointer;
}
.left-div .operate-btns div:hover{
	background: #F68D70;
	opacity: 0.5;
	color: #ffffff;
}
.left-div .operate-btns div:active{
	background: #FF5803;
	opacity: 1;
	color: #fff;
}
.left-div .operate-btns div.disabled {
	pointer-events: none;
	opacity: .65;
	cursor: not-allowed;
}
.oper-div .dish-oper-btns{
	height: 240px;
}
.main-div .preferentials{
	height: 180px;
}
.main-div .preferentials .preferentials-content{
	width: 92%;
	float: left;
}
.main-div .preferentials .preferential-info{
	width: 132px;
	height: 48px;
	background: #FFFFFF;
	box-shadow: 0px 1px 0px 0px #B1B1B1;
	border-radius: 3px;
	float: left;
	margin-right: 5px;
	margin-bottom: 5px;
	padding: 10px 5px 7px;
	color: #515356;
	text-align: center;
	font-size: 14px;
}
.main-div .tab-payment ul li{
	float: left;
	text-align: center;
	padding: 12px 0;
	position: relative;
	font-size: 14px;
	color: #111111;
	width: 12%;
	height: 45px;
	font-weight: bold;
	margin: 2px 10px;
	cursor: pointer;
}
.main-div .tab-payment ul li.active{
	color: #FF5803;
	font-size: 16px;
	padding: 6px 0;
	border-bottom: 3px solid #FF5803;
}
.main-div .pay-div{
	width: 100%;
	padding-top: 10px;
}
.main-div .pay-div .paytype-input{
	width: 50%;
	float: left;
}

.paytype-input span{
	position: absolute;
	margin-left: 10px;
	font-size: 14px;
	color: #A6A6A6;
	margin-top: 10px;
}
.paytype-input input {
	width: 260px;
	height: 40px;
	padding-left: 70px;
}
.cash span{
	font-size: 16px;
}
.cash input{
	height: 90px;
	width: 260px;
	padding-left: 60px;
	font-size: 60px;
	text-align: right;
}
.cash .the-change-div{
	color: #FF5803;
	font-weight: bold;
	padding-left: 10px;
	font-size: 18px;
}
.cash .the-change-span{
	margin-top: -2px;
	margin-left: 30px;
	color: #FF5803;
	font-size: 18px;
}
.membership-card input.card-number{
	padding-left: 12px;
	width: 170px;
}
.pay-div .btn{
	margin-left: 6px;
	width: 84px;
	height: 38px;
	background: #FFFFFF;
	box-shadow: 0px -1px 1px 0px rgba(237,237,237,0.50), 0px 1px 0px 0px #CFCFCF;
	border-radius: 3px;
	font-size: 14px;
	color: #000000;
	text-align: center;
	padding-top: 10px;
	cursor: pointer;
}
.membership-card .register-btn{
	margin-left: 176px;
}
.pay-div .btn:hover {
	background: #F68D70;
	opacity: 0.5;
	color: #ffffff;
}
.pay-div .btn:active {
	background: #FF5803;
	opacity: 1;
	box-shadow: 0px 2px 0px 0px #C64300;
	border: 0;
}

.bank-card input.bank-type{
	padding-left: 12px;
	width: 170px;
}
.this-card input.payment-unit{
	padding-left: 12px;
	width: 170px;
}
.main-div .virtual-keyboard{
	width: 50%;
	float: right;
}
.main-div .virtual-keyboard ul li.ok-btn{
	width: 92px;
	background: #FF5803;
	color: #ffffff;
}
.main-div .num-virtual-keyboard ul li {
	width: 95px;
	font-size: 16px;
}
.main-div .letter-virtual-keyboard ul li{
	width: 44px;
	font-size: 16px;
}

.hori-lf-div span{
	position: absolute;
	font-size: 14px;
	color: #B0B0B0;
	margin: 8px 0 0 8px;
}
.open-dialog .modal-body .hori-rt-div{
	width: 310px;
	float: right;
}
.more-oper ul li:hover{
	background: #F68D70;
	opacity: 0.5;
	color: #fff;
	cursor: pointer;
}
.more-oper ul li:active {
	background: #FF5803;
	opacity: 1;
	color: #fff;
}

.more-oper ul li.disabled ,.more-oper ul li.disabled:active,.more-oper ul li.disabled:hover {
	color:#ccc;
	pointer-events: none;
	cursor: default;
}

.more-oper{
	position: absolute;
	width: 90px;
	bottom: 46px;
	right: 81px;
	border: 1px solid #EFEFEB;
	background: #F6F6F6;
}
.more-oper ul li{
	width: 98%;
	height: 40px;
	text-align: center;
	padding-top: 12px;
	background: #ffffff;
	margin: 2px auto;
	border-radius: 4px;
}
.input-num-dialog .modal-dialog {
	width: 340px;
}
.input-num-dialog .modal-title{
	text-align: center;
}
#coupnum-dialog .coupname{
	color: #FF5803;
	font-size: 16px;
}
#backfood-dialog .form-group input.padding-left{
	padding-left: 120px;
}
.bank-icon{
	background: #FFFFFF;
}
.bank-icon img{
	border: 3px solid gray;
	display: inline-block;
	width: 240px;
	margin: 10px 5px;
}
.bank-icon img.active{
	border: 3px solid #FF5803;
}
.paycompany-content{
	background: #FFFFFF;
	height: 380px;
}
.paycompany-content ul{
	padding: 10px 0;
}
.paycompany-content ul li{
	list-style: none;
	height: 45px;
	padding: 12px;
	font-size: 16px;
	padding-left: 50px;
	color: #333333;
	cursor: pointer;
	font-weight: bold;
}
.paycompany-content ul li:hover{
	opacity: 0.5;
	color: #FF5803;
}
.paycompany-content ul li:active{
	opacity: 1;
	color: #FF5803;
}
.paycompany-content ul li.active{
	opacity: 1;
	color: #FF5803;
}
#select-paycompany-dialog .page{
	float: left;
	display: inline-block;
}
.pay-total  {
	overflow: hidden;
	background: #7c7768;
	padding: 7px 10px!important;
	width: 100%;
}
.pay-total li {
	float:left;
	font-size:16px;
	margin-right:10px;
	color:#fff;
}
.give-dish-list {
	width: 100%;
	overflow: hidden;
	padding:0;
	clear:both;
	margin-top:10px;
}

.give-dish-list li {
	list-style: none;
	width: 132px;
	height: 48px;
	background: #FFFFFF;
	box-shadow: 0px 1px 0px 0px #B1B1B1;
	border-radius: 3px;
	float: left;
	margin-right: 5px;
	margin-bottom: 5px;
	padding: 10px 5px 7px;
	color: #515356;
	text-align: center;
	font-size: 14px;
	position: relative;
	cursor: pointer;
}

.give-dish-list li.selected {
	color: #fff;
	background-color: #FF5803;
	border-color: #FF5803;
}

.give-dish-list li span.dishname {
}
.give-dish-list li span.info {
	position: absolute;
	bottom: 5px;
	left: 0;
	text-align: right;
	padding-right: 5px;
}


.search{
	position: relative;
}
input[type=search] {
	width: 83%;
	background: #FFFFFF;
	border: 1px solid #DBDBDB;
	border-radius: 3px;
	padding-left: 40px;
	height: 43px;
	float: left;
}
.search .glyphicon-search{
	position: absolute;
	padding: 13px;
	color: #515356;
}
.search .btn-clear{
	height: 42px;
	width: 90px;
	float: right;
	background: #FFFFFF;
	box-shadow: 0px 1px 0px 0px #B1B1B1;
	border-radius: 3px;
	color: #1F1F1F;
	text-align: center;
	padding: 10px;
}
.search-btns div.search-btn{
	width: 42px;
	height: 42px;
	float: left;
	background: #FFFFFF;
	box-shadow: 0px 1px 0px 0px #B1B1B1;
	border-radius: 2px;
	margin-left: 3px;
	margin-bottom: 3px;
	font-size: 14px;
	color: #1F1F1F;
	text-align: center;
	padding: 10px;
}
.search-btns div.search-btn:hover, .search .btn-clear:hover{
	background: #F68D70;
	opacity: 0.5;
	color: #ffffff;
}
.search-btns div.search-btn:active, .search .btn-clear:active{
	background: #FF5803;
	opacity: 1;
	color: #ffffff;
}
.campany-icon {
	min-height: 150px;
	padding:0;
}
.campany-icon li {
	list-style: none;
	display: inline-block;
	margin:0;
	padding:0px 10px;
	background: #FFFFFF;
	border-radius: 2px;
	cursor: pointer;
	box-shadow: 0px 1px 0px 0px #B1B1B1;
	width: 120px;
	overflow: hidden;
	height: 30px;
	line-height: 30px;
	text-overflow:ellipsis;white-space:nowrap;overflow:hidden;
	text-align: center;
}

.campany-icon li.selected {
	background: #FF5803;
	box-shadow: 0px 1px 0px 0px #C64300;
	border-radius: 3px;
	color: #FFFFFF;
}

.campany-icon li + li {

	margin-right:5px;
}
.pay-total .spangap{
	font-style:normal ;
	padding: 0 3px;
}
.order-dish-table-dishname,
.order-dish-table-dishnum,
.order-dish-table-dishunit,
.order-dish-table-orderprice{
	cursor: pointer;

}