<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.candao.www.dataserver.mapper.CaleTableAmountMapper">
    <select id="pCaleTableAmount" statementType="CALLABLE">
        {
        call p_caletableamount(#{orderId,jdbcType=VARCHAR,mode=IN})
        }
    </select>
    
    <update id="updateOrderDetailPayAmount" parameterType="String">
        update t_order_detail set payamount=orderprice*dishnum where status!=5 and orderprice>0 and orderid=#{orderid};
    </update>
    
    <update id="updateOrderDueAmount" parameterType="String">
        update t_order set dueamount=(select IFNULL(sum(payamount),0) from t_order_detail where status!=5 and orderid=#{orderid}) where orderid=#{orderid};
    </update>
</mapper>
