<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.candao.www.dataserver.mapper.MsgProcessMapper">
    <insert id="saveTSyncMsg" useGeneratedKeys="true" keyProperty="id"
            parameterType="com.candao.www.dataserver.entity.SyncMsg">
       INSERT INTO t_syncmsg(msgtype, msg, msgtime, sendnum, receive, needretry) VALUES (#{msgtype},#{msg}, now(), 1, 0, 1)
    </insert>
    <insert id="saveSyncClient">
        INSERT INTO t_syncclient(`client`, msgid,receivetime) VALUES (#{client},#{msgId},now())
    </insert>
    <delete id="deleteSyncClient">
        DELETE FROM t_syncclient WHERE msgid &lt;#{msgId_500}
    </delete>
    <select id="selectMsgTypeByMsgId" resultType="java.lang.Integer">
        select msgtype from t_syncmsg where id=#{msgId}
    </select>
    <update id="updateSyncMsgRec">
        UPDATE t_syncmsg SET receive=1 WHERE id=#{msgId}
    </update>
    <update id="updateSyncMsgByMsgType1002">
 /* 如果帐单已经结帐的也可以不重发了*/
     UPDATE t_syncmsg SET receive=1 WHERE msgtype=1002 AND msg IN(SELECT orderid FROM t_order WHERE orderstatus=3 AND begintime>= CURDATE())
    </update>
</mapper>
