<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.candao.www.dataserver.mapper.OpenLogMapper">
    <resultMap id="baseMap" type="com.candao.www.dataserver.entity.OpenLog">
        <id column="id" property="id"></id>
        <result column="username" property="userName"/>
        <result column="inserttime" property="insertTime"/>
        <result column="opendate" property="openDate"/>
        <result column="ipaddress" property="ipaddress"/>
    </resultMap>
    <select id="selectAll" resultMap="baseMap">
      select * from t_open_log limit 1
    </select>
    <insert id="insert" parameterType="com.candao.www.dataserver.entity.OpenLog">
        insert into t_open_log(id,username,inserttime,opendate,ipaddress)
        values(1,#{userName,jdbcType=VARCHAR},#{insertTime,jdbcType=TIMESTAMP},,#{openDate,jdbcType=TIMESTAMP},#{ipaddress,jdbcType=VARCHAR})
    </insert>
    <delete id="truncate">
        truncate table t_open_log
    </delete>
</mapper>
