<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.candao.www.dataserver.mapper.OrderMapper">
    <select id="selectOrderStatus" parameterType="String" resultType="Integer">
      select orderstatus from t_order  where orderid=#{orderId}
    </select>
    <update id="updateMemberNo" parameterType="Map">
        update t_order set memberno=#{memberNo} where orderid=#{orderId}
    </update>
    <select id="selectByOrderId" parameterType="String" resultType="Map">
        select a.*,b.vipprice,b.price,b.unit as dishunit2
        from t_order_detail a inner join t_dish b on(a.dishid=b.dishid)
        where a.orderprice>0 and a.orderid=#{orderId}
        limit 1
    </select>
    <select id="selectVipPrice" parameterType="Map" resultType="String">
        select vipprice
        from t_template_dishunit
        where (menuid =(select menuid from v_currmenu)or(dishid='DISHES_98')) and dishid=#{dishId} and (unit=#{dishUnit} or (dishid='DISHES_98')) LIMIT 1
    </select>
    <select id="selectMemberNoByOrderId" parameterType="String" resultType="String">
        select memberno from t_order where orderid=#{orderId}
    </select>
    <select id="selectPrice" parameterType="String" resultType="Map">
        select a.*,b.price,b.unit as dishunit2
        from t_order_detail a inner join t_dish b on(a.dishid=b.dishid)
        where a.orderprice>0 and a.orderid=#{orderId} limit 1
    </select>
    <select id="selectNormalPrice" parameterType="Map" resultType="String">
       select price
       from  t_template_dishunit
       where (menuid =(select menuid from v_currmenu)or(dishid='DISHES_98'))
        and  dishid=#{dishId} and (unit= #{dishUnit} or (dishid='DISHES_98'))
       LIMIT 1
    </select>
    <select id="selectNotPay" resultType="int">
        select count(*) from t_order where begintime>=CURRENT_DATE() and orderstatus=0
    </select>
    <update id="updatePutOrder" parameterType="map">
        update t_order set payway=3,ordertype=2,gzcode=#{gzCode},gzname=#{gzName},gztele=#{gzTele},gzuser=#{gzUser}
        where orderid=#{orderId}
    </update>
</mapper>
