<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.candao.www.dataserver.mapper.TableMapper">
    <update id="updaStatus0" parameterType="String">
        update t_table set status=0
        where tableno=#{tableNo}
    </update>
    <select id="selectOrderIdOfStatusN5" parameterType="String" resultType="String">
        select orderid from  t_table b   where b.tableno=#{tableNo} and b.status &lt;&gt; 5 LIMIT 0 , 1
    </select>
    <select id="selectOrderId" parameterType="String" resultType="String">
        select orderid from  t_table b   where b.tableno=#{tableNo} LIMIT 0 , 1
    </select>
</mapper>
