<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.candao.www.dataserver.mapper.TellerCashMapper">
    <select id="selectInsertDate" resultType="Map" parameterType="Map">
           SELECT insertdate,cashamount,opendate
           FROM t_teller_cash
           WHERE username = #{userId} AND `status` = 0 AND ipaddress = #{ip}
                AND insertdate >= ( SELECT inserttime FROM t_open_log LIMIT 1 ) limit 1
    </select>
    <select id="selectShiftid" resultType="java.lang.Integer" parameterType="Map">
        select shiftid
        from t_teller_cash where opendate=#{openDate} and username=#{userId} and ipaddress=#{ip} and status=0
    </select>
    <select id="selectCashAmount" resultType="String" parameterType="Map">
        select cashamount
        from t_teller_cash where opendate=#{openDate} and username=#{userId} and ipaddress=#{ip} and status=0
    </select>
    <select id="selectBeginPeople" resultType="String" parameterType="String">
        select IFNULL(sum(custnum),0)
        from t_order where begintime>=#{beginTime,jdbcType=VARCHAR}
    </select>
    <select id="selectBeginTableTotal" resultType="int" parameterType="String">
        select count(*)
        from t_order where begintime>=#{beginTime,jdbcType=VARCHAR}
    </select>
    <select id="selectNonClosingTable" resultType="int" parameterType="String">
        select count(*)
        from t_order where begintime>=#{beginTime,jdbcType=VARCHAR} and orderstatus=0
    </select>
    <select id="selectClosingTable" resultType="int" parameterType="String">
        select count(*)
        from t_order where endtime>=#{endTime,jdbcType=VARCHAR} and orderstatus=3
    </select>
    <select id="selectClosingPeople" resultType="String" parameterType="String">
        select IFNULL(sum(custnum),0)
        from t_order where endtime>=#{endTime,jdbcType=VARCHAR} and orderstatus=3
    </select>
    <select id="selectLastNonTable" resultType="int" parameterType="String">
        select count(*)
        from t_order where orderstatus=0 and begintime &lt;#{beginTime,jdbcType=VARCHAR}
    </select>
    <select id="selectNotClosingMoney" resultType="String" parameterType="String">
        select IFNULL(sum(a.orderprice*a.dishnum*(case when a.discountrate &lt;=0 then 1 else a.discountrate end)),0)
        from  t_order_detail a inner join t_order b on(a.orderid=b.orderid)
        where b.begintime>=#{beginTime,jdbcType=VARCHAR} and  b.orderstatus=0 and a.status&lt;&gt;5
    </select>
    <select id="selectFoodMoney" resultType="String" parameterType="String">
        select IFNULL(sum(a.orderprice*a.dishnum*(case when a.discountrate&lt;=0 then 1 else a.discountrate end)),0)
        from t_order_detail_discard a inner join t_order b on(a.orderid=b.orderid)
        where b.begintime&gt;=#{beginTime,jdbcType=VARCHAR}
    </select>
    <select id="selectItemMoney" resultType="String" parameterType="String">
       SELECT IFNULL( sum(a.orignalprice * a.dishnum), 0 ) + IFNULL(sum(sc.chargeAmount), 0)
       FROM t_order_detail a INNER JOIN t_order b ON (a.orderid = b.orderid) LEFT JOIN t_service_charge sc ON b.orderid = sc.orderid
        WHERE b.orderid IN (SELECT orderid FROM t_settlement WHERE userid=#{userId} and isclear=0 AND inserttime>=#{beginTime,jdbcType=TIMESTAMP}) AND  b.orderstatus=3 AND a.STATUS&lt;&gt;5 and ((ismaster=1 AND  a.dishtype!=2) OR ismaster=0 AND  a.dishtype=2)
    </select>
    <select id="selectPreferenceMoney" resultType="Map" parameterType="Map">
        SELECT (SUM(c1)-SUM(c2)) as taocanyouhui,(SUM(c3)-SUM(c4))as huiyuanyouhui,SUM(c5)as huiyuanxuzeng,
          SUM(c6)as huiyuanjifen,SUM(c7)as youmian,SUM(c8)as moling,SUM(c9)as sishewuru,SUM(c10) as zengcai,SUM(c11) as yazuoyouhui FROM(
        -- 套餐品项价
        SELECT IFNULL(SUM(a.orignalprice*a.dishnum), 0) as c1,0 as c2,0 as c3,0 as c4,0 as c5,0 as c6,0 as c7,0 as c8,0 as c9,0 as c10,0 as c11 FROM t_order_detail a RIGHT OUTER JOIN t_order b ON (a.orderid = b.orderid) WHERE b.orderid IN ( SELECT orderid FROM t_settlement WHERE userid=#{userId} and isclear=0 AND inserttime>=#{beginTime,jdbcType=TIMESTAMP} ) AND b.orderstatus = 3 AND a. STATUS != 5 AND a.ismaster=0 AND a.dishtype=2
        UNION ALL
        -- 套餐外壳价
        SELECT 0,IFNULL(SUM(a.orignalprice*a.dishnum), 0),0,0,0,0,0,0,0,0,0 FROM t_order_detail a RIGHT OUTER JOIN t_order b ON (a.orderid = b.orderid) WHERE b.orderid IN ( SELECT orderid FROM t_settlement WHERE userid=#{userId} and isclear=0 AND inserttime>=#{beginTime,jdbcType=TIMESTAMP} ) AND b.orderstatus = 3 AND a. STATUS != 5 AND a.ismaster=1 AND a.dishtype=2
        UNION ALL
        -- 单品、套餐原价
        SELECT 0,0,IFNULL(SUM(a.orignalprice*a.dishnum), 0),0,0,0,0,0,0,0,0 FROM t_order_detail a RIGHT OUTER JOIN t_order b ON (a.orderid = b.orderid) WHERE b.orderid IN ( SELECT orderid FROM t_settlement WHERE userid=#{userId} and isclear=0 AND inserttime>=#{beginTime,jdbcType=TIMESTAMP}) AND b.orderstatus = 3 AND a. STATUS != 5 AND a.ismaster=1
        UNION ALL
        -- 单品、套餐会员价
        SELECT 0,0,0,IFNULL(SUM(a.orderprice*a.dishnum), 0),0,0,0,0,0,0,0 FROM t_order_detail a RIGHT OUTER JOIN t_order b ON (a.orderid = b.orderid) WHERE b.orderid IN ( SELECT orderid FROM t_settlement WHERE userid=#{userId} and isclear=0 AND inserttime>=#{beginTime,jdbcType=TIMESTAMP} ) AND b.orderstatus = 3 AND a. STATUS != 5 AND a.ismaster=1
        UNION ALL
        -- 会员虚增
        SELECT 0,0,0,0,IFNULL(SUM(a.inflated), 0),0,0,0,0,0,0 FROM t_order_member a RIGHT OUTER JOIN t_order b ON (a.orderid = b.orderid) WHERE b.orderid IN ( SELECT orderid FROM t_settlement WHERE userid=#{userId} and isclear=0 AND inserttime>=#{beginTime,jdbcType=TIMESTAMP} ) AND b.orderstatus = 3 AND a.valid=0
        UNION ALL
        -- 会员积分消费
        SELECT 0,0,0,0,0,IFNULL(SUM(a.payamount), 0),0,0,0,0,0 FROM t_settlement_detail a RIGHT JOIN t_order b  on (a.orderid=b.orderid) where b.orderid IN ( SELECT orderid FROM t_settlement WHERE userid=#{userId} and isclear=0 AND inserttime>=#{beginTime,jdbcType=TIMESTAMP}) AND b.orderstatus = 3 AND a.payway =11
        UNION ALL
        -- 优免
        SELECT 0,0,0,0,0,0,IFNULL(SUM(ymamount), 0),0,0,0,0 FROM t_order b WHERE b.orderid IN ( SELECT orderid FROM t_settlement WHERE userid=#{userId} and isclear=0 AND inserttime>=#{beginTime,jdbcType=TIMESTAMP} ) AND b.orderstatus = 3
        UNION ALL
        -- 抹零
        SELECT 0,0,0,0,0,0,0,IFNULL(SUM(a.payamount), 0),0,0,0 FROM t_settlement_detail a RIGHT JOIN t_order b  on (a.orderid=b.orderid) where b.orderid IN ( SELECT orderid FROM t_settlement WHERE userid=#{userId} and isclear=0 AND inserttime>=#{beginTime,jdbcType=TIMESTAMP} ) AND b.orderstatus = 3 AND a.payway =7
        UNION ALL
        -- 四舍五入
        SELECT 0,0,0,0,0,0,0,0,IFNULL(SUM(a.payamount), 0),0,0 FROM t_settlement_detail a RIGHT JOIN t_order b  on (a.orderid=b.orderid) where b.orderid IN ( SELECT orderid FROM t_settlement WHERE userid=#{userId} and isclear=0 AND inserttime>=#{beginTime,jdbcType=TIMESTAMP} ) AND b.orderstatus = 3 AND a.payway =20
        UNION ALL

        -- 赠菜 pricetype=1 orderprice=0
        SELECT 0,0,0,0,0,0,0,0,0,IFNULL(SUM(a.orignalprice*a.dishnum), 0),0 FROM t_order_detail a RIGHT OUTER JOIN t_order b ON (a.orderid = b.orderid) WHERE b.orderid IN ( SELECT orderid FROM t_settlement WHERE userid=#{userId} and isclear=0 AND inserttime>=#{beginTime,jdbcType=TIMESTAMP} ) AND b.orderstatus = 3 AND a. STATUS != 5 AND a.pricetype=1 and a.orderprice=0
        UNION ALL
        -- 雅座优惠
        SELECT 0,0,0,0,0,0,0,0,0,0,IFNULL(SUM(a.payamount), 0) FROM t_settlement_detail a RIGHT JOIN t_order b  on (a.orderid=b.orderid) where b.orderid IN ( SELECT orderid FROM t_settlement WHERE userid=#{userId} and isclear=0 AND inserttime>=#{beginTime,jdbcType=TIMESTAMP} ) AND b.orderstatus = 3 AND a.payway =12
        ) t
    </select>
    <select id="selectRemoveMoney" resultType="String" parameterType="String">
       SELECT IFNULL(SUM(b.payamount),0)
       FROM t_order a INNER JOIN t_settlement_detail b ON(a.orderid=b.orderid AND b.payway=7)
       WHERE a.orderid IN (SELECT orderid FROM t_settlement WHERE userid=#{userId} AND inserttime>=#{beginTime,jdbcType=TIMESTAMP}) and  b.payway=7
    </select>
    <select id="selectTotalMoney" resultType="String" parameterType="Map">
        select IFNULL(sum(b.payamount) ,0) as payamount  from t_settlement a
        inner join t_settlement_detail b on(a.orderid=b.orderid)
        inner join t_order c on(a.orderid=c.orderid)
        where  a.inserttime>=#{beginTime,jdbcType=TIMESTAMP} and b.payamount!=0 and a.userid=#{userId} and a.isclear=0
    </select>
    <select id="selectIncludedTotalMoney" resultType="String" parameterType="String">
        select IFNULL(sum(b.payamount ),0) as payamount from t_settlement a
        inner join t_settlement_detail b on(a.orderid=b.orderid)
        inner join t_order c on(a.orderid=c.orderid)
        where  a.inserttime>=#{beginTime,jdbcType=TIMESTAMP} and b.payamount!=0 and b.payway in(select itemid from v_revenuepayway)  and a.userid=#{userId} and a.isclear=0
    </select>
    <update id="updateStatus" parameterType="map">
        update  t_teller_cash set status=1 where  ipaddress=#{ip} and username=#{userId} and status=0
    </update>
    <select id="selectNotClear" parameterType="java.util.Date" resultType="int">
        select count(*) from t_teller_cash where opendate=#{openDate} and status=0
    </select>
    <select id="selectNotEndTable" resultType="int">
        select count(*) from  t_table where status=1
    </select>
    <select id="selectTodayInfo" resultType="map" parameterType="map">
        select * from t_teller_cash
         where ipaddress=#{ip} and opendate=#{openDate,jdbcType=VARCHAR} and username=#{userId} and status=0
    </select>
    <insert id="insert" parameterType="map">
        insert into t_teller_cash(username,opendate,insertdate,ipaddress,cashamount,status,shiftid)
        values(#{username},#{opendate},#{insertdate},#{ipaddress},#{cashamount},0,#{shiftid})
    </insert>
</mapper>
