@charset "utf-8";
body, form{ margin:0px; padding:0px; } 
input, select{ vertical-align: middle;}
ul, li{ list-style:none; margin:0px; padding:0px;}
dl, dt, dd{ margin:0px; padding:0px;}
em { font-style: normal; font-weight: normal;}
img, a img { border: 0px dotted #ccc;}
html,body{margin:0;padding:0;height:100%}
a{color:#0088cc;text-decoration:none;}
a:hover{color:#005580;text-decoration:underline;}
.container-fluid{padding-right:20px;padding-left:20px;*zoom:1;}
.main{padding-top:50px;padding-bottom:40px;}
.navbar-inner{min-height:40px;padding-right:20px;padding-left:20px;background-color:#fafafa;background-image:-moz-linear-gradient(top,#ffffff,#f2f2f2);background-image:-webkit-gradient(linear,0 0,0 100%,from(#ffffff),to(#f2f2f2) );background-image:-webkit-linear-gradient(top,#ffffff,#f2f2f2);background-image:-o-linear-gradient(top,#ffffff,#f2f2f2);background-image:linear-gradient(to bottom,#ffffff,#f2f2f2);background-repeat:repeat-x;border:1px solid #d4d4d4;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;filter:progid:DXImageTransform.Microsoft.gradient ( startColorstr = '#ffffffff',endColorstr = '#fff2f2f2',GradientType = 0 );*zoom:1;-webkit-box-shadow:0 1px 4px rgba(0,0,0,0.065);-moz-box-shadow:0 1px 4px rgba(0,0,0,0.065);box-shadow:0 1px 4px rgba(0,0,0,0.065);}
.navbar-inner:before,.navbar-inner:after{display:table;line-height:0;content:"";}
.navbar-inner:after{clear:both;}
.navbar-fixed-top,.navbar-fixed-bottom{position:fixed;right:0;left:0;z-index:1030;margin-bottom:0;}
.navbar-fixed-bottom{bottom:0;}
.navbar-fixed-top .navbar-inner,.navbar-static-top .navbar-inner{border-width:0 0 1px;}
.navbar-fixed-top .navbar-inner,.navbar-fixed-bottom .navbar-inner{padding-right:0;padding-left:0;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;}
.navbar-fixed-top{top:0;}
.navbar-fixed-top .navbar-inner,.navbar-static-top .navbar-inner{-webkit-box-shadow:0 1px 10px rgba(0,0,0,0.1);-moz-box-shadow:0 1px 10px rgba(0,0,0,0.1);box-shadow:0 1px 10px rgba(0,0,0,0.1);}
.navbar .brand{float:left;display:block;font-size:20px;color:#000000;font-weight:bold;margin-left:0;margin-right:20px;padding:10px 0px;text-shadow:0 1px 0 rgba(255,255,255,0.1),0 0 30px rgba(255,255,255,0.125);}
.navbar .brand:hover{color:#0099ff;text-decoration:none;}

.topbg{background:#ECEAE8;}
.header{color:#000000;text-align:right;height:30px;background:url('../../images/logo.gif') no-repeat left center;}
.top_menu{position:relative;z-index:4;height:30px;font-size:12px;line-height:30px;border:0px;}
.top_menu .left{float:left;width:30%;text-align:left;}
.top_menu .right{float:right;width:70%;}
.top_menu .right ul{display:block;float:right;width:100%;height:auto;list-style-type:none;margin:0px;}
.top_menu .right ul li{display:block;float:right;width:auto;margin-left:5px;width:auto;padding:0 10px;list-style-type:none;height:30px;line-height:30px;position:relative;text-align:center;z-index:4;}

.info table{width:100%;border-collapse:collapse;}
.info table th,td {padding:3px 4px ; height:0px; line-height:0px;}
.info table th{width:120px;}
.info table tbody th {text-align:right; font-weight:normal; }

