.reckoning-dialog hr {
	margin: 1px;
	border-top: 1px solid #6E6A6A;
}
hr.dotted-line {
	border-top: 1px dashed #6E6A6A;
}
.reckon-tb tbody>tr>td {
	font-size: 12px;
	/* line-height: 0.8; */
	text-align: left;
}
.reckon-tb {
	margin-top: 5px;
}
.reckon-tb thead>tr>th {
	background: rgba(230, 230, 230, 0);
	text-align: left;
}
.reckon-tb tbody>tr>td.text {
	text-align: left;
}
.reckon-tb tbody>tr>td.right-align{
	padding-right: 60px;
  	text-align: right;
}
.reckon-tb thead>tr>th.last, .reckon-tb tbody>tr>td.last{
	text-align: right;
	padding-right: 6%;
}
.order-head tbody>tr>td{
	text-align: left;
}