body{
	overflow-x: hidden;
}
.form-control{
	font-size: 12px;
}
/* 鎶ヨ〃澶撮儴淇℃伅 */
.report-title {
	margin-top: 20px;
	font-size: 16px;
	height: 30px;
	line-height: 1.6;
}

.report-title span {
	color: #e9241c;
	float: left;
}

.report-title img {
	float: right;
}
/*search box*/
.report-search-box {
	padding-top: 10px;
/*	background: #f4f4f4;*/
	font-size: 14px;
}

.report-search-span {
	margin-top: 7px;
	padding: 0px;
	width: 30px;
}

.report-search-box .form-group {
	height: 40px;
}

.report-search-box .control-label {
	margin-top: 7px;
	padding-right: 0px;
	text-align: left;
	font-weight: normal;
	width: 80px;
}

.report-search-box .col-xs-2 {
	padding-left: 0px;
}

.report-confirm-btn {
	padding-left: 0px;
}

.report-confirm-btn button {
	background: #fff;
	color: #333333;
}

.long-search {
	width: 290px;
}

.long-search button {
	width: 65px;
}

.long-search button.active {
	background: #ff6c77;
	color: #fff;
}

.report-confirm-btn button.active {
	background: #ff6c77;
	color: #fff;
}

.short-search {
	float: right;
	width: 180px;
}

.short-search button.active {
	background: #ff6c77;
	color: #fff;
}
/* 鎶ヨ〃鍏蜂綋鍐呭 */
.ky-table i {
	color: red;
	float: left;
}

.ky-table {
	width: 100%;
	text-align: center;
	border: 1px solid #dcdcdc;
	margin-top: 10px;
}

.ky-table th {
	text-align: center;
	background-color: #dcdcdc;
	padding: 5px;
	font-size: 13px;
}

.ky-table td {
	font-size: 13px;
	padding-top: 10px;
	padding-bottom: 10px;
	border: 1px solid #e3e3e3;
}

.ky-table td.text-right {
	padding-right: 50px;
}

.ky-table td.text-left {
	padding-left: 50px;
}

.ky-table tr.ky-table-title {
	background-color: #f0f0f0;
}

.ky-table tr {
	border-bottom: 1px solid #dcdcdc;
}

.report_data_div {
/*	margin-left: 1em;
  	margin-right: 5.5em;*/
  	margin-bottom: 1em;
	border: 1px solid #e3e3e3;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.report_data_div table {
	width: 100%;
	margin-bottom: 0px;
}

.report_data_div table tr th {
	border: 1px solid #e3e3e3;
}

.report_data_div table tr td {
	border: 1px solid #e3e3e3;
}
ul#report_tab li {
	width: 33%;
	text-align: center;
}
.report_head {
	height: 30px;
  	margin-top: 1em;
  	text-align: right;
	margin-bottom: 1em;
}
.report_sub_tb {
	font-size: 14px;
	text-align: center;
}
.report_sub_tb tbody > tr > td, .report_sub_tb thead > tr > td{
	/* line-height: 0.8; */
}
#dataStat_tb th {
	width: 33px;
	border: 1px solid #e3e3e3;
	background: rgb(249, 249, 249);
	vertical-align: middle;
}

#dataStat_tb td {
	width: 33px;
	border: 1px solid #e3e3e3;
	vertical-align: middle;
}

.report-tb-div {
	margin-bottom: 40px;
	margin-left: 15px;
	margin-right: 15px;
}
.auto-width {
	width: auto;
	padding-left: 0px;
}
.btn:hover {
	background: #ff6c77
}
.bottom-div{
/*	margin-bottom: 100px;8em*/
	padding-bottom:100px;
}
.ky-content.content-iframe{
	margin-bottom: 0px;
}
#coupon-details-dialog .modal-dialog {
	width: 800px;
}
/**瑙ｅ喅鎶ヨ〃椤甸潰 浠ｅ紑dialog 椤甸潰绉诲姩鐨勯棶棰�*/
.modal-open{
	margin-right: 17px;
}
#frozenTb th {
	border: 1px solid #e3e3e3;
	background: rgb(249, 249, 249);
}
.frozen-tb-div{
	width: 15%;
	position: absolute;
	margin-left: 2px;
}
.scroll-tb-div{
	overflow-x: auto;
	width: 85%;
	float: right;
	margin-right: 1px;
}
.scroll-tb-div:hover{
	overflow-x: auto;
}
/***************20151009婊氬姩********************/
hr{
	margin-top: 10px;
	margin-bottom: 10px;
}
/*******************waiter **********************/
table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled {
	cursor: pointer;
}

table.dataTable thead .sorting { background: url('../images/sort_both.png') no-repeat center right; background-color: #F0EFEF;}
table.dataTable thead .sorting_asc { background: url('../images/sort_asc.png') no-repeat center right; background-color: #F0EFEF;}
table.dataTable thead .sorting_desc { background: url('../images/sort_desc.png') no-repeat center right; background-color: #F0EFEF;}

table.dataTable thead .sorting_asc_disabled { background: url('../images/sort_asc_disabled.png') no-repeat center right; background-color: #F0EFEF;}
table.dataTable thead .sorting_desc_disabled { background: url('../images/sort_desc_disabled.png') no-repeat center right; background-color: #F0EFEF;}
table.dataTable thead .sorting_disabled {background-color: #F0EFEF;}

table.dataTable thead > tr > th {
	padding-left: 18px;
	padding-right: 18px;
}

table.dataTable th:active {
	outline: none;
}
/**************waiter***************/
/*************schedule**************/
.schedule-container .report-search-box .control-label {
	width: auto;
}

.schedule-container .input-group {
	line-height: 2.5;
}
.schedule-container .input-group input[type="checkbox"] {
	margin-top: 8px;
	margin-right: 3px;
	margin-left: 0px;
	width: 15px;
	height: 15px;
}
.schedule-container .checkbox-div {
	width: auto;
	float: left;
}
.schedule-container .time-interval {
	padding-right: 20px;
	float: right;
	height: 100%;
	width: 23%;
}
.schedule-container .time-interval select {
	margin-top: 2px;
	height: 25px;
	font-size: 12px;
	border-color: #cccccc;
}
.schedule-table thead>tr>th{
	background: #F0F0F0;
}
.schedule-table thead>tr>th,.schedule-table tbody>tr>td {
	border: 1px solid #e3e3e3;
	vertical-align: middle;
}
.schedule-table thead>tr>th.wight-bg {
	background: #ffffff;
}
.pop-div-content {
	border-radius: 4px;
	height: 110px;
	background: #ffffff;
  	color: #333333;
  	font-size: 18px;
  	text-align: center;
}
/*************schedule******************/

.click-table tr{
	cursor: pointer;
}
.select_tr{
	background-color: #f5f5f5;
}
.table-list thead > tr > th{
	background: #F0EFEF;
}

.table-list thead > tr > th.th-rowspan{
	vertical-align: middle;
}
ul.tab-ul {
  	float: left;
  	display: inline-block;
  	font-size: 14px;
  	height: 28px;
  	overflow: hidden;
  	padding: 0;
 	white-space: nowrap;
  	width: 98%;
}

ul.tab-ul li {
	float: left;
    list-style: outside none none;
    text-align: center;
    width: 10%;
    height: 100%;
    line-height: 2;
	cursor: pointer;
	border-left: 1px solid #FFF;
	color: #333;
	background: rgb(222, 226, 226);
}
ul.tab-ul li.active {
	background: #333;
	color: #fff;
}
.item-type{
	width: 100%;
	float: left;
}
.nav-types-prev{
	visibility: visible;
  	width: 12px;
  	margin-top: 8px;
  	display: inline-block;
  	float: left;
  	cursor: pointer;
}
.nav-types-next{
	width: 12px;
  	margin-right: 0px;
  	margin-top: 8px;
  	display: inline-block;
 	float: right;
 	text-align: center;
 	cursor: pointer;
}