.storeSelect-dialog .modal-dialog{
	width:822px;
	font-size: 14px;
}
.storeSelect-dialog hr{
	margin:0px;
}
.storeSelect-dialog table >tbody > tr > td{
	border-top:none;
}
.storeSelect-dialog table > tbody > tr > td input{
	margin-top:-4px;
}
.storeSelect-dialog table > tbody > tr > td > span{
	width:155px;
	margin-left:5px;
	margin-bottom: -4px;
	display: inline-block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.storeSelect-dialog table > tbody > tr > td > span:hover {
	cursor:default;
}
.store-select-title {
  margin-bottom: 10px;
  font-size: 16px;
}
.modal-header {
  border-bottom: none;
  padding: 0px;
  margin-top: -20px;
}
body{
	font-family: microsoft yahei;
}
.radio-inline {
  color: #666;
  font-size: 12px;
}
.store-select-content {
  font-size: 14px;
}
.storesDiv {
	font-size:14px;
}
.storesDiv li {
    float: left;
    height: 38px;
    margin: 5px 6px;
    overflow: hidden;
    width: 140px;
}
.popover {
  min-width: 150px;
  max-width: 460px;
}