.system-setup-title {
	font-size: 16px;
	float: left;
	line-height: 1.8;
	font-family: Arial "微软雅黑";
}
.setup_div_member .viptype-box  {
	display:none;
}
.setup_div_member.active .viptype-box {
	display:block;
}
.setup_div_social .form-group-seat,.setup_div_social .form-group-gifts  {
	display:none;
}
.setup_div_social.active .form-group-seat,.setup_div_social.active .form-group-gifts {
	display:block;
}

.setup-tb tr td {
	border-top: 0px;
}

.setup-tb {
	margin: auto 20px;
	width: 40%;
	font-size: 14px;
}

.setup_div .btn {
	float: right;
}

.submitClass:hover {
	background: #ff6c77
}

.setup_div label.interval_label {
	position: absolute;
	margin-bottom: 0px;
	margin-top: 5px;
	margin-left: 4px;
}

.setup_div label {
	font-weight: normal;
	font-size: 14px;
}

.left {
	text-align: left;
}

.setup_div p {
	margin: 6px 0px;
	vertical-align: bottom;
	height: 18px;
	font-size: 14px;
}

.avoid-tag-table {
	margin-left: 80px;
}

.avoid-tag-table .avoid-li {
	width: 100px;
	float: left;
	border-radius: 0px;
}
.avoid-tag-table .avoid-li:hover {
	color: #c276e2;
	background-color: #ffffff;
}

.avoid-tag-table i.icon-remove {
	position: absolute;
	color: #c276e2;
	top: 25%;
	right: 0;
}

.avoid-tag-table .add-reason {
	border: 1px dashed #cccccc;
}

.canClick {
	list-style: none;
	border: 1px solid #cecece;
	text-align: center;
	position: relative;
	margin: 0px 2px;
}
.canClick i.icon-remove:hover{
	background: #c276e2;
	color:#fff;
	border-radius: 30px;
	cursor: pointer;
	height:15px;
	width:15px;
	padding:0 0 1px 1px;
}
.dishTasteUl {
	height: 34px;
	white-space: nowrap;
	overflow: hidden;
	display: inline-block;
	font-size: 14px;
}

.time-label {
	font-weight: bold;
	margin-left: -33px;
	margin-right: -7px;
	padding-top: 4px;
	width: 20px;
}
.no-left-padding{
	padding-left: 2px;
}
#accuracySet{
	margin-left:30px;
}
#retrieveResponsetime input.form-control{
	float: left;
	width: 90%;
}
#retrieveResponsetime .unit{
	width: 10px;
  	float: right;
  	margin-top: 6px;
}

/*******************dish select******************************/
body {
  font-family: microsoft yahei;
}
#dish-select-dialog .modal-dialog {
  width: 700px;
}
.modal-header {
  border-bottom: none;
  padding: 0px;
  margin-top: -20px;
}
.radio-inline {
  color: #666;
  font-size: 12px;
}
.radio-inline input {
  margin-top: 2px;
}
.panel .panel-title {
  color: #282828;
  font-weight: normal;
}
.one-gift{
	width: 200px;
  	float: left;
}
#gifts-div{
	padding: 0px 0 0 0;
	text-align: left;
	font-size: 14px;
	line-height:220%;
}
.store-gifts-add {
	margin-bottom:20px;
}
.setup_div_box input.disabled {
	border:none;
	background: #fff!important;
    box-shadow: none;
    padding:2px 0;
    width:auto;
    display:inline-block;
    cursor:default;
}
.seat-item {
	width:132px;
	position:relative;
	margin-top:12px;
	float:left;
	margin-right:20px;
}

.seat-item-default .seatImgBtn {
	width:130px;
	height:130px;
	top:-100px;
}
.seatimg-rule {
	color:gray;
	margin-top:10px;
}
.seatImgBtn {
	top:0;
	left:0;
	position: absolute; 
	filter: alpha(opacity = 0);
	opacity: 0; 
	width: 60px;
    height: 28px;
    cursor:pointer;
}
.seat-item-op {
	padding:5px 0;
	background:rgba(0,0,0,0.6);
	position:absolute;
	top:102px;
	padding:5px 2px;
	left:0;
	width:130px;
}
.seat-item-op a {
	color:#fff;
}
.seat-item img{
	width:130px;
	height:130px;
	border: 1px solid #e6e6e6;
}
.seat-item-default .J-btn-del,.seat-item-default .J-rUpload{
	display:none;
}
.seat-item.active .seat-item-op {
	display:block;
}
.seat-item-default .seat-item-op {
	position: absolute; 
	filter: alpha(opacity = 0);
	opacity: 0; 
}
.seat-item-name {
	margin-top:10px;
	overflow:hidden;
}
.seat-item-tip{
	color:red;
	margin-top:2px;
}
.yy-time {
	position:relative;
}
.yy-time .tip {
	position:absolute;
	bottom:-20px;
	right:15px;
}
.yy-time label {
	padding:0;
	text-align:left!important;
	position:relative;
}
.yy-time .unit {
	margin-top: 6px;
    float: left;
    margin-left: 2px;
}
.yy-time-info {
	margin-top:8px;
}
.seatname-info {
	font-size:14px;
	display:block;
}
.tag{ 
	width:250px; 
	height:77px;
	border-radius:5px; 
	border:1px solid #ddd; 
	position:relative; 
	background-color:#FFF;
	float:left;
	margin-left:20px;
}

.arrow{
	position:absolute; 
	width:40px; 
	height:40px; 
	top:20px; 
	left:-20px;
}

.arrow *{
	display:block; 
	border-width:10px; 
	position:absolute; 
	border-style:solid ; 
	font-size:0; 
	line-height:0;
}

.arrow em{
	border-color:transparent #000 transparent transparent; 
}

.arrow span{
	border-color:transparent #FFF transparent transparent;  
}

.tagspan {
	line-height:23px;
	text-indent:10px;
	margin:0;
	padding: 20px 0px 0px 0px;
	display:block;
	color: #999999;
}

.clear{ 
	clear:both;
}

#defaultlogo{
	margin:0;
	padding:0;
	border:1px solid #ddd;
	float:left;
}

.res{
	background:#8cc253;
	width:80px;
	height:30px;
	border-radius:5px;
	color:#fff;
	line-height:30px;
	font-size:16px;
	text-align:center;
	cursor:pointer;
}
#defaultlogo{
	width:93px;
	height:79px
}

#def_background{
	width:93px;
	height:117px
}

.deflogo{
 
}

.defBackground{
	margin: -50px;
    padding: 50px;
}

.bgtag{
	width:250px; 
	height:115px;
	border-radius:5px; 
	border:1px solid #ddd; 
	position:relative; 
	background-color:#FFF;
	float:left;
	margin-left:20px;
}

.tagspan1 {
	line-height:23px;
	text-indent:10px;
	margin:0;
	padding: 40px 0px 0px 0px;
	display:block;
	color: #999999;
}

.checkbox-overflow {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
}
.span-overflow{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width:60%;
    display:inline-block;
}
.git-overflow{
	overflow:hidden;
	text-overflow:ellipsis;
    white-space: nowrap;
}
}
