body{
	font-family:Microsoft Yahei;
}
.tables-type-add{
	margin-top:-10px;
	border:1px dashed #ececec;
	color:#c8c8c8;
	float:right;
}
.tables-content{
	margin-top:20px;
	font-size: 16px;
	position: relative;
}
.tables-content-title{
	color:#ffb54d;
}
.tables-content-hr{
	margin:10px 0px;
}
.tables-dialog-hr{
	margin:0px 15px;
}
img.img-close{
	position: absolute;
	left: 97%;
	top: -5%;
}
/* 鐐瑰嚮鍙抽敭寮瑰嚭妗�*/
.right-tab{
	padding:0px;
	position: absolute;
	z-index: 1000;
	top:21%;
	left:16%;
	background: #f0f0f0;
}
.right-tab li{
	padding:0px 10px;
	list-style: none;
	text-align: left;
	line-height:40px;
	color:#282828;
}
.right-tab li.active,
.right-tab li:hover{
	background: #ffb54d;
	color:#fff;
}
.right-tab  i.icon-edit{
	margin-right:5px;
}
.right-tab  i.icon-plus-sign,.right-tab  i.icon-minus-sign,.right-tab  i.icon-circle-arrow-right{
	margin-right:7px;
}
.right-tab span{
	display: inline-block;
}
/* 鑿滃搧鍒嗙被瀵艰埅鏉�*/
.nav-tables{
	padding:0px;
	height: 39px;
	width:99%;	
	white-space: nowrap;
	overflow: hidden;
	display: inline-block;
}
.nav-tables button{
	font-size: 18px;
	border-radius:0px;
}
.nav-tables-prev .icon-chevron-left,
.nav-tables-next .icon-chevron-right
{
	color:#ffb54d;
}
.nav-tables-prev .icon-chevron-left:hover,
.nav-tables-next .icon-chevron-right:hover
{
	cursor: pointer;
}
.nav-tables-prev{
	width:12px;
	margin-left:-18px;
	margin-top:15px;
	display: inline-block;
	float:left;
}
.nav-tables-next{
	width:12px;
 	margin-right:-18px;
	margin-top:15px;
	display: inline-block;
	float:right; 
}
.nav-tables li{
	margin-right:10px;
	float:left;
	line-height:50px;
	list-style: none;
}

.nav-tables li.nav-tables-type{
	width:9%;
}
.nav-tables li.nav-tables-type.active button,.nav-tables li.nav-tables-type.active:hover button{
	border:1px solid #ffb54d;
	background: #ffb54d;
	color:#fff;
}
.nav-tables li.nav-tables-type:hover button{
	border-bottom:1px solid #ffb54d;
	background: #fff;
}
.nav-tables li.nav-tables-type button{
	width:100%;
	border-top:none;
}
.nav-tables li i.icon-remove{
	margin-top:-6px;
	margin-right:-12px;
	border:1px solid #cecece;
	color:#ffb54d;
	float:right;
}
.nav-tables li.active i.icon-remove{
	color:#fff;
}
/* 姣忎釜鑿滃搧鍒嗙被鐨勫叿浣撳唴瀹�*/
.nav-tables-tab{
	padding:15px 20px;
	border:1px solid #ececec;
	min-height:400px;
}
/* .nav-tables-tab>span {
	position: absolute;
	top: -20px;
	left:5%;
	width: 0px;
	height: 0px;
	border-width: 10px;
	border-color: transparent transparent #b7b7b7;
	border-style:  dashed dashed solid;
	font-size: 0;
	line-height: 0;
}
.nav-tables-tab em{
	position: absolute;
	top:-20px;
	left:5%;
	width: 0px;
	height: 0px;
	border-width: 10px;
	border-color: transparent transparent #fff transparent;
	border-style: dashed dashed solid dashed;
	font-size: 0;
	line-height: 0;
} 
/* 娣诲姞鑿滃搧鍒嗙被寮瑰嚭妗�*/
.tables-add-dialog{
	font-size: 16px;
}
.tables-add-dialog label.control-label{
	padding-right:0px;
	font-weight: normal;
}
.tables-add-dialog .btn-operate-tables{
	margin-top:100px;
}
.btn-operate-tables .btn-save{
	 background-color: #ffb54d;
}
.tables-add-dialog .modal-header{
	border-bottom:none;
}
.tables-add-dialog .tables-add-tip{
	padding-top:7px;
	font-size:12px;
	color:#969696;		
}
.tables-add-dialog .tables-add-tip .icon-warning-sign{
	margin-left:-10px;
	margin-right:15px;
	font-size:14px;
}
/* 鑿滃搧鍒嗙被鍙抽敭寮瑰嚭妗�*/
.right-tab.tables-right-tab {
	top:10%;
	left:8%;
}
.right-tab.tables-right-tab li {
	white-space: nowrap;
	overflow: hidden;
}
/* 鑿滃搧璇︽儏娣诲姞 */
.tables-detailAdd-dialog .modal-header{
	border-bottom: none;
}
.tables-detailAdd-dialog .modal-dialog{
	width:550px;
	font-size: 16px;
}
.tables-detailAdd-dialog .form-group{
	text-align: left;
}

.tables-detailAdd-dialog img.img-close{
	top:-3%;
}
.tables-detailAdd-dialog .col-xs-2{
	padding-left:0px;
	padding-right:0px;
	width:155px;
}
.tables-detailAdd-dialog .control-label.col-xs-2{
	font-weight: normal;
	padding-right:0px;
	width:100px;
}
.tables-charge-unit{
	background:#f4f4f4;
	padding:5px 10px;
	margin:0 -10px 10px;
}
.tables-charge-unit hr{
	border-color:#dcdcdc;	
	margin:5px 0px;
}
.charge-unit-addBtn{
	color:#ffb54d;
	margin-top:10px;
}
.charge-unit-addBtn:hover{
	cursor: pointer;
}
.charge-unit-addBtn i{
	width:23px;
	height:23px;
	margin-right:10px;
}
.tables-checkbox{
	width:330px;
	padding-left:0px;
	padding-right:0px;
	text-align:left;
}
.tables-detailAdd-dialog .col-xs-2.tables-flag-btn{
	width:85px;
	margin-left:-5px;
	margin-top:-3px;
}
.tables-flag-btn button{
	margin-top:7px;
	border:1px dashed #cccccc;
	background: #f0f0f0;
	color:#c8c8c8;
}

.tables-detail-add button{
	border:1px dashed #cccccc;
	background: #f0f0f0;
	color:#c8c8c8;
	font-size:18px;
}
.tables-taste button{
	width:100%;
}
.tables-taste button >i.icon-plus-sign{
	color:#ffb54d;

}
.tables-introduce {
	padding-left:0px;
	padding-right:0px;

}
.tables-introduce textarea{
	height:180px;
}
.tables-introduce-tip{
	text-align: left;
	color:#c9c9c9;
	font-size: 12px;

}
.tables-upload-box{
	margin-left:10px;
}
/* 鑿滃搧鍙ｅ懗,锛岃彍鍝佹爣绛句腑椤甸潰鏍峰紡 */
.tables-tag-box{
	background: #f4f4f4;
	padding:10px 10px;
	margin:0px -10px;
}
.tables-tag-box .form-group{
	margin-bottom:0px;
}
.tables-tag-table{
	width:100%;	
}
.tables-tag-table div{
	display: inline-block;
	margin:10px 5px 0px 0px ;
}
.tables-tag-table div>button{	
	width:80px;
}
.tables-tag-table div>button:hover{
	background: #ffb54d;
	color:#fff;
}
.tables-tag-select button,.tables-tag-select button:hover{
	width:80px;
	background: #ffb54d;
	color:#fff; 
}
.tables-tag-select i.icon-remove{
	margin-right:-12px;
	margin-top:-6px;	
	float:right;
	border:1px solid #e66b55;
	color:#fff;
}
.tagAdd-btn{
	padding:0px;
}
.tagAdd-btn button{
	background: #ffb54d;
	color:#fff;
}
.tagAdd-tip{
	margin-left:-40px;
	padding-top:10px;
	font-size:12px;
	color:#969696;	
}
/* 鑿滃搧鍙ｅ懗 */
.tables-tasteAdd-dialog .modal-header,
.tables-labelAdd-dialog .modal-header{
	border-bottom: none;
}
.tables-tasteAdd-dialog .btn-operate-tables,
.tables-labelAdd-dialog .btn-operate-tables{
	margin-top:20px;
}


/* 鑿滃搧璇︽儏妗�*/
 .tables-detail-add{
	vertical-align: top;
} 
.tables-detail-add button#tables-detailOther-Add{
	background:#fff;
}
.tables-detail-box{
	margin-right:5px;
	margin-bottom:20px;
	border:1px solid #cecece;
	border-top:none;
	display: inline-block;
	width:12%;
	font-size:12px;
	height:39px;
}
.tables-detail-box:hover{
	cursor: pointer;
}
.tables-detail-box i.icon-remove{
	margin-top:-40px;
	padding:1px;
	border:1px solid #cecece;
	float:right;
}
.tables-detail-box p{
	margin:0;
	text-align: center;
}
/* 鑿滃搧璇︽儏鍙抽敭鐐瑰嚮寮瑰嚭妗�*/
.tables-other-right.right-tab {
	width:210px;
	top:1%;
	left:96%;
}
/* 鍒犻櫎寮瑰嚭妗�*/
.tables-detailDel-dialog .modal-header{
	border-bottom: none;
}
.tables-detailDel-dialog .modal-body{
	padding-top:50px;
	text-align: center;
}
.tables-detailDel-dialog .btn-operate-tables{
	margin-top:90px;
}
.tables-del-p1{
	font-size: 28px;
}
.tables-del-p1 img{
	margin-right:20px;
	margin-top:-8px;
}
.tables-del-p2{
	margin-left:50px;
	text-align: left;
	font-size: 20px;
}
.tables-del-p2 input[type='checkbox']{
	margin-top:8px;
}

#tables-combo-dialog .modal-dialog{
	width: 820px;
	padding-left: 0;
	padding-right: 0;
}

#tables-combo-dialog .img-close{
	top:-3%;
	left:98%;
}

#tables-comboEdit-dialog .img-close{
	margin-top: -15px;
	top:0;
}

#tables-combo-dialog .modal-content{
	border: none;
}

.form-inline .form-control{
	width: auto;
	vertical-align: middle;
}

.tables-textareaW{
	float: left;
	width: 535px;
	margin-right: 10px;
}

.tables-textareaW > textarea{
	height: 100px;
}

.tables-comboDetail-title{
	background-color: #fd7762;
	border:1px solid #fd7762;
	margin-left: -1px;
	margin-right: -1px;
	text-align: center;
}

.tables-textareaW > p{
	margin-bottom: -10px;
}

.tables-comboDetail{
	border:1px solid #dcdcdc;
	border-top: none;
	margin-left: 15px;
	margin-right: 15px;
	height: 215px;
}

.tables-comboDetail-title{
	padding-top: 5px;
	padding-bottom: 5px;
	color: #fff;
}

.tables-comboDetail-content{
	padding: 10px 0px;
	display: inline-block;
	overflow: hidden;
	white-space: nowrap;
	width: 740px;
}

.tables-comboList{
	border:1px solid #dcdcdc;
	margin-left: 2.5px;
	margin-right: 2.5px;
	width: 140px;
	display: inline-block;
}

.tables-comboList-title{
	text-align: center;
	background-color: #f4f4f4;
	padding-top: 5px;
	padding-bottom: 5px;
}

.tables-comboList-content{
	height: 100px;
	padding: 5px 0;
	list-style: none;
}

.tables-comboList-content > li{
	padding: 0 3px;
}

.tables-comboList-bottom{
	background-color: #fd7762;
	text-align: center;
	color: #fff;
	height: 20px;
	border:1px solid #fd7762;
}

.tables-roll-left,
.tables-roll-right{
	position: relative;
	top:-80px;
	color: #fd7762;
}

#tables-comboEdit-dialog .modal-dialog{
	width: 580px;
}

#tables-comboEdit-dialog .modal-content{
	height: 598px;
}

#tables-comboEdit-dialog .modal-body{
	height: 508px;
}

.tables-comboEdit-line{
	border-top:1px solid #f4f4f4;
	margin-left: -20px;
	margin-right: -20px;
}

.tables-comboEdit-box{
	padding: 5px 20px 0;
	border-bottom: 1px solid #c8c8c8;
	margin-left: -20px;
	margin-right: -20px;
}

.tables-comboEdit-box .checkbox{
	margin-top:0;
	margin-bottom: 0;
}

.tables-comboEdit-boxi{
	margin-left: 10px;
	margin-right: 15px;
}

.tables-panBottom-name{
	padding-left: 80px;
	width: 250px;
	display: inline-block;
}

.tables-panBottom-num > input{
	width: 60px;
	display: inline-block;
	text-align: center;
	height: 28px;
}

.tables-unit{
	padding: 4px;
}

.tables-panBottom-price{
	float: right;
	margin-top: 4px;
}

.tables-panBottom{
	margin-bottom: 5px;
}

.tables-conboList-tip{
	background-color: #fd7762;
	color: #fff;
	padding: 0 2px;
	font-size: 12px;
	margin: 1px;
}

.tables-conboList-stip{
	background-color: #dcdcdc;
}

.checkbox .tables-panBottom-num{
	position: absolute;
	left: 274px;
	margin-top: -4px;
}

.tables-combo-single{
	height: 40px;
	padding-top: 9px;
}

.tables-checked{
	background-color: #dcdcdc;
}

.tables-combined{
	background-color: #fd7762;
	text-align: center;
	margin-left: -20px;
	margin-right: -20px;
	padding: 5px;
	color: #fff;
}

.btn-combined{
	background-color: #fff;
	border: none;
	color:  #fd7762;
	height: 20px;
	font-size: 14px;
	padding: 1px 10px;
}

.tables-comboAdd{
	margin-top: 36px;
	margin-left: -55px;
	position: relative;
	left: 50%;
}

.btn-comboS{
	background-color: #fd7762;
	color: #fff;
	height: 30px;
	padding: 4px 10px;
	margin-bottom: 10px;
}

.btn-comboS:hover,
.btn-comboS:focus{
	color: #fff;
}
/* 娣诲姞宸叉湁鑿滃搧璇ュ垎绫�*/
.ky-addDishes-empty{
	float: right;
	margin-top: 0;
	margin-bottom: 0;
}
.ky-hr{
	margin-top: 10px;
	margin-bottom: 10px;
}
.ky-addDishes-content .checkbox-inline{
	margin:0;
}
.ky-addDishes-content .panel-heading{
	padding-top: 5px;
	padding-bottom: 5px;
}
.ky-addDishes-content .panel-title{
	font-size: 14px;
}
.addDishes-btn-bgcolor{
	background-color: #ff5500;
}
.tables-existAdd-dialog img.img-close{
	top:-3%;
}
.tables-existAdd-checked{
	margin-left:10px;
}
.btn{
	width:80px;
}
.modal-content{
	width:340px;
}