.xld_addbutton{
	font-size: 13px; 
	color: #1E1E1E; 
	font-weight: 400;
	color: #FFFFFF;
	background: none repeat scroll 0% 0% #9A9691;
	width: 75px;
	height: 25px;
}
.dishTypeSelected {
	font-weight: 400;
	font-style: normal;
	font-size: 13px;
	color: #CCC;
	background-color: #343535;
}

.dishTypeUnSelected,#button1{
	font-weight: 400;
	font-style: normal;
	font-size: 13px;
	color: #333;
	background-color: #D0CDC7;
}
