<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	   http://www.springframework.org/schema/task    
       http://www.springframework.org/schema/task/spring-task-3.0.xsd">
    

	
	<!-- 注解式task！ Enables the Spring Task @Scheduled programming model -->
	<task:executor id="executor" pool-size="1" />
	<task:scheduler id="scheduler" pool-size="1" />
	<task:annotation-driven executor="executor" scheduler="scheduler" />

    <bean id="runMeTask" class="com.candao.www.bossstore.quartzJob.RunMeTask" />
    <bean id="runCurrMonTask" class="com.candao.www.bossstore.quartzJob.RunCurrMonTask" />
    <bean id="runFlowDataTask" class="com.candao.www.bossstore.quartzJob.RunFlowDataTask" />
    <bean id="runTableTask" class="com.candao.www.bossstore.quartzJob.RunTableTask" />
    <bean id="runTableDetailTask" class="com.candao.www.bossstore.quartzJob.RunTableDetailTask" />
    <bean id="runOnDutyManagerTask" class="com.candao.www.bossstore.quartzJob.RunOnDutyManagerTask"/>
    <bean id="serviceTask" class="com.candao.www.bossstore.quartzJob.RunServiceTask"/>
    <bean id="tableOrderTask" class="com.candao.www.bossstore.quartzJob.RunTableOrderTask"/>
	<bean id="runMeJob" class="com.candao.www.bossstore.quartzJob.RunMeJob">
		<property name="runMeTask" ref="runMeTask"></property>
		<property name="runCurrMonTask" ref="runCurrMonTask"></property>
		<property name="runFlowDataTask" ref="runFlowDataTask"></property>
		<property name="runTableTask" ref="runTableTask"></property>
		<property name="runTableDetailTask" ref="runTableDetailTask"></property>
		<property name="runOnDutyManagerTask" ref="runOnDutyManagerTask"></property>
		<property name="serviceTask" ref="serviceTask"></property>
		<property name="tableOrderTask" ref="tableOrderTask"></property>
	</bean>
</beans>