<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:jee="http://www.springframework.org/schema/jee"
	xmlns:util="http://www.springframework.org/schema/util" xmlns:lang="http://www.springframework.org/schema/lang"
	xmlns:jdbc="http://www.springframework.org/schema/jdbc" xmlns:jpa="http://www.springframework.org/schema/data/jpa"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.2.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.2.xsd
		http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-3.2.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.2.xsd
		http://www.springframework.org/schema/lang http://www.springframework.org/schema/lang/spring-lang-3.2.xsd
		http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-3.2.xsd
		http://www.springframework.org/schema/data/jpa http://www.springframework.org/schema/data/jpa/spring-jpa.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd">

	<!-- 基础配置，引用配置 -->
	<bean id="inorderPropertyConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:/jdbc.properties</value>
			</list>
		</property>
	</bean>

	<!-- posserver 数据配置 -->
	<bean id="inorderPoserverData" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" value="${jdbc.driver}" />
		<property name="url" value="${posServer.url}" />
		<property name="username" value="${posServer.username}" />
		<property name="password" value="${posServer.password}" />
		<property name="maxActive" value="${jdbc.maxActive}" />
		<property name="initialSize" value="${jdbc.initialSize}" />
		<property name="maxWait" value="${jdbc.maxWait}" />
		<property name="maxIdle" value="${jdbc.maxIdle}" />
		<property name="minIdle" value="${jdbc.minIdle}" />
		<property name="removeAbandoned" value="${jdbc.removeAbandoned}" />
		<property name="removeAbandonedTimeout" value="${jdbc.removeAbandonedTimeout}" />
		<property name="validationQuery" value="${jdbc.validationQuery}" />
		<property name="timeBetweenEvictionRunsMillis" value="${jdbc.timeBetweenEvictionRunsMillis}" />
		<property name="minEvictableIdleTimeMillis" value="${jdbc.minEvictableIdleTimeMillis}" />
		<property name="testOnBorrow" value="${jdbc.testOnBorrow}" />
	</bean>

	<!-- inorder 数据配置 -->
	<bean id="inorderSourceData" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" value="${jdbc.driver}" />
		<property name="url" value="${inorder.url}" />
		<property name="username" value="${inorder.username}" />
		<property name="password" value="${inorder.password}" />
		<property name="maxActive" value="${jdbc.maxActive}" />
		<property name="initialSize" value="${jdbc.initialSize}" />
		<property name="maxWait" value="${jdbc.maxWait}" />
		<property name="maxIdle" value="${jdbc.maxIdle}" />
		<property name="minIdle" value="${jdbc.minIdle}" />
		<property name="removeAbandoned" value="${jdbc.removeAbandoned}" />
		<property name="removeAbandonedTimeout" value="${jdbc.removeAbandonedTimeout}" />
		<property name="validationQuery" value="${jdbc.validationQuery}" />
		<property name="timeBetweenEvictionRunsMillis" value="${jdbc.timeBetweenEvictionRunsMillis}" />
		<property name="minEvictableIdleTimeMillis" value="${jdbc.minEvictableIdleTimeMillis}" />
		<property name="testOnBorrow" value="${jdbc.testOnBorrow}" />
	</bean>
	<context:component-scan base-package="com.candao.inorder" />

	<!-- 多数据源融合 -->
	<bean id="inoderDynamicDataSource" class="com.candao.inorder.lzrabbit.MultipleDataSource">
		<property name="targetDataSources">
			<map key-type="java.lang.String">
				<entry key="dataInorderSource" value-ref="inorderSourceData"></entry>
				<entry key="dataPosServerSource" value-ref="inorderPoserverData"></entry>
			</map>
		</property>
		<property name="defaultTargetDataSource" ref="inorderSourceData"></property>
	</bean>

	<bean id="sqlSessionFactoryInorderPoserver" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="inoderDynamicDataSource" />
		<property name="mapperLocations" value="classpath*:com/candao/**/inordermapper/*.xml" />
		<property name="typeAliasesPackage" value="com.candao.inorder.pojo" />
		<property name="typeAliases"
			value="org.springframework.util.LinkedCaseInsensitiveMap" />
		<property name="configLocation" value="classpath:/mybatis-config.xml" />
	</bean>


	<bean id="SqlSessionDaoSupportnorderPoserver" class="com.candao.inorder.dao.SqlSessionDaoSupport">
		<constructor-arg index="0"
			ref="sqlSessionTemplateInorderPoserver" />
	</bean>

	<bean id="sqlSessionTemplateInorderPoserver" class="org.mybatis.spring.SqlSessionTemplate">
		<constructor-arg index="0"
			ref="sqlSessionFactoryInorderPoserver" />
	</bean>


</beans>	
